<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add a Recipe</title>
</head>
<body>
    <div class="container">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/create_recipe" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea name="instructions" id="instructions" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="date_cooked">Date Cooked/Made:</label>
                <input type="date" name="date_cooked" class="form-control">
            </div>
            <div class="form-group">
                <label for="under_thirty">Under 30 Minutes?:</label>
                <select name="under_thirty" id="under_thirty" class="form-control">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            <button class="btn-primary mt-3">Add Recipe</button>
        </form>
    </div>
</body>
</html>