<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Recipe</title>
</head>
<body>
    <div class="container col-md p-1">
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="left-side">
            <p>Name: {{recipe.name}}</p>
            <p>Description: {{recipe.description}}</p>
            <p>Instructions: {{recipe.instructions}}</p>
            <p>Date Cooked/Made: {{recipe.date_cooked}}</p>
            <p>Under 30 Minutes? {{recipe.under_thirty}}</p>
            <p>Owner: {{recipe.owner.first_name}} {{recipe.owner.last_name}}</p>
        </div>
    </div>
</body>
</html>